__pycache__/
*.pyc

# Ignore all the models neccesary for inference. Will create a download script from google drive
model/
facenet/models
.idea
final_detection/
images/
.DS_Store
datasets/
trained_svm_knn_face_models/

# Ignore any potentials temporary folders
temp_roi/

