__pycache__/

# Ignore all the models neccesary for inference. Will create a download script from google drive
model/
facenet/models
.idea
final_detection/

# Ignore any potentials temporary folders
temp_roi/

