tensorflow
psutil==5.4.6
tqdm==4.24.0
numpy==1.14.3
tensorpack==0.8.8
h5py==2.8.0
requests==2.19.1
setuptools==40.0.0
six==1.11.0
scipy==1.1.0
opencv_python==3.4.2.17
matplotlib==2.2.3
protobuf==3.6.1
scikit_learn==0.19.2
